<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Documento:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Worker.Document" />
            <ValidationMessage For="@(() => Worker.Document)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Nombres:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Worker.FirstName" />
            <ValidationMessage For="@(() => Worker.FirstName)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Apellidos:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Worker.LastName" />
            <ValidationMessage For="@(() => Worker.LastName)" />
        </div>
    </div>

    <div class="mb-3">
        <label>E-Mail app:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Worker.Email" />
            <ValidationMessage For="@(() => Worker.Email)" />
        </div>
    </div>

    <!--<div class="mb-3">
        <label>Usuario:</label>
        <div>
            <select class="form-control" @onchange="UpdateUser">
                @foreach (var user in AvailableUsers)
                {
                    <option value="@user.Document" selected="@(user.Document == Worker.User?.Document)">@user.FullName</option>
                }
            </select>
        </div>
    </div>-->

    <div class="mb-3">
        <label>Modalidad:</label>
        <div>
            <select class="form-control" @onchange="UpdateSelectedModality">
                @foreach (var modality in AvailableModalities)
                {
                    <option value="@modality.Id" selected="@(modality.Id == Worker.Modality?.Id)">@modality.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="mb-3">
        <label>Horario Laboral:</label>
        <div>
            <select class="form-control" @onchange="UpdateSelectedWorkShedule">
                @foreach (var workShedule in AvailableWorkShedules)
                {
                    <option value="@workShedule.Id" selected="@(workShedule.Id == Worker.WorkSchedule?.Id)">@workShedule.Name</option>
                }
            </select>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>
