@page "/sendMessage"

<div class="card">
    <div class="card-header">
        <span>
            <i class="oi oi-envelope-closed" /> Enviar Mensaje
        </span>
    </div>
    <div class="card-body">
        <div class="mb-2">
            <label for="recipient">Destinatario:</label>
            <div>
                <select class="form-control" @onchange="UpdateSelectedWorker">
                    @foreach (var workers in AvailableWorkes)
                    {
                        <option value="@workers.Id" selected="@(workers.Id == workerSelected?.Id)">@workers.FirstName</option>
                    }
                </select>
            </div>
            <label for="recipient">Correo del destinatario:</label>
            <input type="email" class="form-control" id="idCorreo" placeholder="Correo del destinatario" @bind="@recipientEmail" />
            <label for="recipient">Asunto del correo:</label>
            <input type="email" class="form-control" id="idAsunto" placeholder="Asunto del correo" @bind="@subjectEmail" />
        </div>
        <div class="mb-2">
            <label for="message">Mensaje:</label>
            <textarea class="form-control" id="message" rows="5" placeholder="Cuerpo del mensaje" @bind="@message"></textarea>
        </div>
        <button type="button" class="btn btn-primary" @onclick="EnviarCorreo">Enviar Mensaje</button>
    </div>
</div>

@if (mensajeEnviado)
{
    <p>¡Correo enviado con éxito!</p>
}
